#loginDiv{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  background: #EFEFEF;
  overflow: hidden;
}

#loginDiv #hint{
  position: fixed;
  top: 3%;
  right: 40%;
}

#loginDiv #lg{
  float: right;
}

#loginDiv .fixed {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1.8rem;
  background: #F9FAFD;
  padding-top: 0.5rem;
}

#loginDiv #box{
  width: 100%;
  position: fixed;
  top: 1.8rem;
}