.orderDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    background: #EFEFEF;
    overflow: hidden;
}

.orderDiv .fixed {
    position: fixed;
    top: 0;
    width: 100%;
    height: 1.8rem;
    background: white;
    line-height: 1.8rem;
}

.orderDiv #left {
    position: fixed;
    top: 0;
    left: 0;
}

.orderDiv #center {
    position: fixed;
    top: 0;
    right: 40%;
}

.orderDiv #right {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 0.8rem;
}

.orderDiv #list {
    width: 100%;
    height: 1.1rem;
    position: fixed;
    top: 2rem;
    overflow: auto;
    font-size: 0.4rem;
    background: white;

}

.orderDiv #list > button {
    width: 20%;
    float: right;
}

.orderDiv #show{
    position: fixed;
    top: 3.8rem ;
    background: grey;
}
