#addressDiv{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: +10;
    background: #EFEFEF;
}

#addressDiv #new{
    position: fixed;
    bottom: 0;
    left: 2rem;
    width: 6rem;
    text-align: center;
    font-size: 0.5rem;
    color: #000;
    background-color: #ffd600;
    border-radius: .5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

}

#addressDiv .return{
    position: fixed;
    top: 0.1rem;
    z-index: 10;
    font-size: 1rem;

}
#addressDiv .describe{
    position: fixed;
    top: 0.5rem;
    right: 40%;
    z-index: 10;
    font-size: 0.6rem;
}

#addressDiv .drop{
    position: fixed;
    z-index: 10;
}

#addressDiv #show{
    position: absolute;
    top: 1.8rem;
}