{% extends 'base/base.html' %}
{% load static %}

{% block title %}home{% endblock title %}

{% block link %}
    <link type="text/css" rel="stylesheet" href="{% static 'base/css/search.css' %}">
{% endblock link %}
{% block script %}
    <script type="text/javascript" src="{% static 'base/js/search.js' %}"></script>
{% endblock script %}

{% block main %}
    <div class="searchDiv">
        <div class="head">
            <div class="searchTop">
                <a href="/mine/">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true">
                </span>
                </a>
            </div>
            <div id="souSuoKuang" class="form-group has-success">
                <form action="/search/" method="post">
                    <input type="search" class="form-control" id="inputSuccess1" aria-describedby="helpBlock2"
                           maxlength="10" placeholder="请输入商品名称">
                </form>
            </div>
            <div class="souSuo">
                <a href="/search/">搜&nbsp;索</a>
            </div>
        </div>

    </div>
{% endblock %}