{% extends 'base/base.html' %}
{% load static %}

{% block title %}客服服务{% endblock title %}

{% block link %}
    <link type="text/css" rel="stylesheet" href="{% static 'mine/css/ICQ.css' %}">
{% endblock link %}

{#{% block script %}#}
{#<script type="text/javascript" src="{% static 'mine/js/ICQ.js' %}"></script>#}
{#{% endblock script %}#}

{% block main %}
    <div id="ICQDiv">
        <div class="tou">
            <div id="ret">
                <a href="/mine/">
                <button type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true">
                </span>
                </button>
            </a>
            </div>

            <div id="help">
                <label for="our">帮助中心</label>
            </div>
        </div>

        <div class="service">
            <div>
                <p class="bg-success">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp; 意见反馈 &nbsp;(1-2个工作日内反馈)</p>
            </div>
            <div>
             <p class="bg-info">
                 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp; 常见问题 &nbsp;（配送时间、优惠券和退款服务）</p>
            </div>
             <div>
                <p class="bg-primary">
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>&nbsp; 客服电话 &nbsp;<label for="phone">（400-8484-842)</label></p>
            </div>
        </div>
    </div>
{% endblock %}