{% extends 'base/base.html' %}
{% load static from staticfiles %}
{% block title %}登录{% endblock %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'mine/css/login.css' %}"/>
{% endblock link %}
{% block script %}
    <script type="text/javascript" charset="utf-8" src="{% static 'mine/js/login.js' %}"></script>
{% endblock script %}


{% block main %}
    <div id="loginDiv">
        <!--点击返回按钮，返回到进入登录界面之前的界面-->
            <section class="fixed">
                <menu>
                    <div>
                        <a href="/mine/"><p>&lt;返回</p></a>
                        <span id="hint"><b>验证手机</b></span>
                    </div>
                </menu>
            </section>


        <div id="box">
            <form action="/login/" method="post">
                {% csrf_token %}
                <div class="form-group has-success">
                    <label>手机:</label>
                    <input id="phone" type="text" class="form-control" id="inputSuccess1" placeholder="手机号码"
                           name="username" aria-describedby="helpBlock2">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">验证码:</label>
                    <input type="text" class="form-control" id="exampleInputPassword1"
                           placeholder="短信验证码" name="passwd">
                </div>
                <button id="smsBtn" type="button" class="btn btn-primary">获取验证码</button>
                <button id="lg" type="submit" class="btn btn-success">登陆</button>
            </form>
        </div>
    </div>
{% endblock main %}





