{% extends 'base/base.html' %}
{% load static from staticfiles %}

{% block title %}addresses{% endblock title %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'mine/css/showAddress.css' %}"/>
{% endblock link %}

{% block script %}
    <script type="text/javascript" charset="utf-8" src="{% static 'mine/js/showAddress.js' %}"></script>
{% endblock script %}


{% block main %}

    <div id="addressDiv" class="mod-addredit mod-pageview pageview-hadtitle" style="z-index: 102; display: block;"
         data-stack="11">
        <footer>
            <header>
                <div id="new"><a href="/addAddress/">+添加地址</a></div>
            </header>
        </footer>

        <div class="main">
            <div class="return" data-tap="return"><a href="/mine/"><p>&lt;</p></a></div>
            <div class="describe"><b><p>选择地址</p></b></div>

            <div id="show">
                    {% for item in addresses %}
                        <table class="table table-striped">
                            <tr class="success">
                                <td><h6>{{ item.name }}</h6></td>
                                <td><h6>{{ item.phoneNum }}</h6></td>
                            </tr>
                            <tr class="info">
                                <td colspan="2"><h6>{{ item.address }}</h6></td>
                            </tr>
                        </table>
                    {% endfor %}
            </div>



            <div class="edit-del-wrap">
                <div class="drop" data-tap="del" style="display: none;">删除地址</div>
            </div>
        </div>
    </div>
{% endblock main %}
